@import "main.css";

.tracing-svg {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: trace 8s forwards;
    height: 100%;
}
@keyframes trace {
    to {
        stroke-dashoffset: 0;
    }
}
.appearing-svg {
    animation: appear 1.8s 1.3s forwards;
    height: 100%;
}
#filled-Proto {
    clip-path: inset(0% 100% 0% 0%);
    position: absolute;
    left: 0;
}
#filled-Shell {
    clip-path: inset(100% 0% 0% 0%);
    position: absolute;
    left: 0;
}
@keyframes appear {
    to {
        clip-path: inset(0% 0% 0% 0%);
    }
}
#subtitle {
    animation: drop-and-appear 1s forwards;
    position: relative;
    font-size: 24px;
    font-weight: 200;
}
@keyframes drop-and-appear {
    from {
        clip-path: inset(100% 0% 0% 0%);
        top: -24px;
    }
    to {
        clip-path: inset(0% 0% 0% 0%);
        top: 0px;
    }
}