:root {
    --green-0: #33B540;
    --green-1: #0C8F19;
    --dark-6: #2C2C2C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111111;
    color: white;
    font-family: "Inter", sans-serif;
}
.centered-flex-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    gap: 40px;
}
.title {
    font-size: 96px;
    font-weight: bold;
}
.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green-1);
    border: 1px solid var(--green-1);
    border-radius: 5px;
    min-width: 180px;
    min-height: 40px;
    cursor: pointer;

}
.button-primary:hover {
    background: transparent;
}
.wrapper {
    scroll-snap-type: y mandatory;
}
.wrapper > div {
    scroll-snap-align: start;
}
.wrapper, 
.content {
    position: relative;
    width: 100%;
    z-index: 1;
}
.content section {
    width: 100%;
    height: 100vh;
    /* opacity: 0; */
}
#title-splash-wrapper {
    height: 100vh;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
}
#title-splash {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-header {
    font-size: 90px;
}
#circle-cutout {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100%; 
    background-color: black; 
    z-index: 1; 
    mix-blend-mode: multiply; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 140px;
    color: black;
}
#circle-cutout > div {
    background-color: black; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}